<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="modo13">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Modo 1 - 3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modo4">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>modo 4</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modo5">
      <ion-icon name="square"></ion-icon>
      <ion-label>Modo 5</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tutorial">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tutorial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
