<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <ion-title>
      Modo 1-2-3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card   > 
    <ion-item #modo1 >
      <ion-img  slot = "start" src="../../../assets/img/medallon.svg" ></ion-img>
     <ion-label>Rojo</ion-label>
     <ion-icon name="sync-circle-outline"></ion-icon> 
         </ion-item>
  
    <ion-card-content >
     <ion-list >
       <ion-item class= "ss" >
        <ion-label slot = "start"> Modo</ion-label>
        <ion-label >Variable </ion-label>
       </ion-item>
       <ion-item>
        <ion-label slot = "start"> Intensidad minina - máxima</ion-label>
        <ion-label slot ="end" [(ngModel)]="dd"></ion-label> 
       </ion-item>
       <ion-item>
        <ion-label slot = "start"> Retardo led</ion-label>
        <ion-label slot ="end">35</ion-label> 
      </ion-item>
     </ion-list>
      <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>

      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card    > 
    <ion-item #modo2  >
      <ion-img  slot = "start" src="../../../assets/img/medallon.svg" ></ion-img>
       <ion-label>Rojo</ion-label>
       <ion-icon name="sync-circle-outline"></ion-icon> 
     </ion-item>
  
    <ion-card-content >
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card   > 

    <ion-item #modo3 >
      <ion-img  slot = "start" src="../../../assets/img/medallon.svg" ></ion-img>
       <ion-label>Rojo</ion-label>
       <ion-icon name="sync-circle-outline"></ion-icon> 
           </ion-item>
  
    <ion-card-content display="none">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
 </ion-content>
